<!DOCTYPE html>
<html>

<head>
    <title>class and style binding</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app1">
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no 😢</h1>
    </div>

    <div id="app2">
        <template v-if="ok">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>
    </div>

    <div id="app3">
        <div v-if="Math.random() > 0.5">
            Now you see me
        </div>
        <div v-else>
            Now you don't
        </div>
    </div>

    <div id="app4">
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
    </div>

    <div id="app5">
        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </template>
    </div>

    <div id="app6">
        <h1 v-show="ok">Hello!</h1>
        <!-- v-if は、イベントリスナと子コンポーネント内部の条件ブロックが適切に破棄され、そして切り替えられるまでの間再作成されるため、”リアル”な条件レンダリングです。
v-if は 遅延描画 (lazy) です。 初期表示において false の場合、何もしません。条件付きブロックは、条件が最初に true になるまで描画されません。
一方で、v-show はとてもシンプルです。要素は初期条件に関わらず常に描画され、シンプルな CSS ベースの切り替えとして保存されます。
一般的に、v-if はより高い切り替えコストを持っているのに対して、 v-show はより高い初期描画コストを持っています。 そのため、とても頻繁に何かを切り替える必要があれば v-show を選び、条件が実行時に変更することがほとんどない場合は、v-if を選びます
https://jp.vuejs.org/v2/guide/conditional.html#v-if-vs-v-show -->
    </div>


    <script>
        var vm1 = new Vue({
            el: "#app1",
            data: {
                awesome: true
            }
        })

        var vm2 = new Vue({
            el: "#app2",
            data: {
                ok: true
            }
        })

        new Vue({
            el: "#app3"
        })

        var vm4 = new Vue({
            el: "#app4",
            data: {
                type: "A"
            }
        })

        var vm5 = new Vue({
            el: "#app5",
            data: {
                loginType: 'username'
            }
        })
    </script>
</body>

</html>