<!DOCTYPE html>
<html>

<head>
    <title>class and style binding</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app1">
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no 😢</h1>
    </div>

    <div id="app2">
        <template v-if="ok">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>
    </div>

    <div id="app3">
        <div v-if="Math.random() > 0.5">
            Now you see me
        </div>
        <div v-else>
            Now you don't
        </div>
    </div>

    <div id="app4">
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
    </div>

    <div id="app5">
        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </template>
    </div>


    <script>
        var vm1 = new Vue({
            el: "#app1",
            data: {
                awesome: true
            }
        })

        var vm2 = new Vue({
            el: "#app2",
            data: {
                ok: true
            }
        })

        new Vue({
            el: "#app3"
        })

        var vm4 = new Vue({
            el: "#app4",
            data: {
                type: "A"
            }
        })

        var vm5 = new Vue({
            el: "#app5",
            data: {
                loginType: 'username'
            }
        })
    </script>
</body>

</html>