<!DOCTYPE html>
<html>

<head>
    <title>vue-instance</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div>
        <ul id="example-1">
            <li v-for="item in items" :key="item.message">
                {{ item.message }}
            </li>
        </ul>
    </div>

    <div>
        <ul id="example-2">
            <li v-for="(item, index) in items">
                {{ parentMessage }} - {{ index }} - {{ item.message }}
            </li>
        </ul>
    </div>

    <div>
        <ul id="v-for-object" class="demo">
            <li v-for="value in object">
                {{ value }}
            </li>
            <br>
            <div v-for="(value, name) in object">
                {{ name }}: {{ value }}
            </div>
            <br>
            <div v-for="(value, name, index) in object">
                {{ index }}. {{ name }}: {{ value }}
            </div>
        </ul>


    </div>

    <div>
        <ol id="app1">
            <li v-for="n in evenNumbers">{{ n }}</li>
        </ol>
    </div>

    <div id="app2">
        <ul v-for="set in sets">
            <li v-for="n in even(set)">{{ n }}</li>
        </ul>
    </div>

    <script>
        var example1 = new Vue({
            el: '#example-1',
            data: {
                items: [{
                    message: 'Foo'
                }, {
                    message: 'Bar'
                }]
            }
        })

        var example2 = new Vue({
            el: '#example-2',
            data: {
                parentMessage: 'Parent',
                items: [{
                    message: 'Foo'
                }, {
                    message: 'Bar'
                }]
            }
        })

        var vm1 = new Vue({
            el: '#v-for-object',
            data: {
                object: {
                    title: 'How to do lists in Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-04-10'
                }
            }
        })

        new Vue({
            el: "#app1",
            data: {
                numbers: [1, 2, 3, 4, 5]
            },
            computed: {
                evenNumbers: function() {
                    return this.numbers.filter(function(number) {
                        return number % 2 === 0
                    })
                }
            }

        })

        new Vue({
            el: "#app2",
            data: {
                sets: [
                    [1, 2, 3, 4, 5],
                    [6, 7, 8, 9, 10]
                ]
            },
            methods: {
                even: function(numbers) {
                    return numbers.filter(function(number) {
                        return number % 2 === 0
                    })
                }
            }
        })
    </script>
</body>